
.carousel {
  margin-bottom: 0;
}

.colored-section {
  background-color: #f9a719d7 !important;
}

.container-fluid {
  padding: 7% 15% 7%;
}

.carousel-inner {
  display: flex;
  align-items: center;
}


.carouselCaption {
  z-index: 10;
}

.carousel-item {
  height: 25rem;
  color: black;
}

.opinion-text {
  line-height: 1.5;
  margin-bottom: 30px;
}

.comillas {
  font-size: 50px;
  line-height: normal;
}

.opinion-img {
  width: 70px;
  border-radius: 100%;
  margin: 20px;
}

#prensa {
  background-color: #ef8172;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
}

.prensa-logo {
  width: 10%;
  margin: 20px 20px 50px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}