@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.msgFa {
    margin: 0;
    line-height: 0;
}

#msgDemo {
    margin-bottom: 5px;
    width: 100%;
    display: none;
}