body {
  font-family: "Karla", sans-serif;
  background-color: #d0d0ce;
  min-height: 100vh;
}

.noappearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.response {
  font-weight: 500;
  font-size: 1.8rem;
}

.panoramica {
  margin: 15px auto 15px;
  width: 800px;
  border-radius: 1%;
}

.brand-wrapper {
  margin-bottom: 19px;
}
.brand-wrapper .logo {
  width: 200px;
  position: relative;
  bottom: 20px;
}

.card-content {
  text-align: center;
}

.formulario {
  margin: 0 auto 0;
}

.login-card {
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden;
}
.login-card-img {
  border-radius: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.login-card .card-body {
  padding: 85px 60px 60px;
}

.login-card-description {
  font-size: 25px;
  color: #000;
  font-weight: normal;
  margin-bottom: 23px;
}
.login-card form {
  max-width: 326px;
}
.login-card .form-control {
  border: 1px solid #d5dae2;
  padding: 15px 25px;
  margin-bottom: 20px;
  min-height: 45px;
  font-size: 13px;
  line-height: 15;
  font-weight: normal;
}
.login-card .form-control::-webkit-input-placeholder {
  color: #919aa3;
}
.login-card .form-control::-moz-placeholder {
  color: #919aa3;
}
.login-card .form-control:-ms-input-placeholder {
  color: #919aa3;
}
.login-card .form-control::-ms-input-placeholder {
  color: #919aa3;
}
.login-card .form-control::placeholder {
  color: #919aa3;
}
.login-card .login-btn {
  padding: 13px 20px 12px;
  background-color: #000;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  margin-bottom: 24px;
}
.login-card .login-btn:hover {
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
}
.login-card .forgot-password-link {
  font-size: 14px;
  color: #919aa3;
  margin-bottom: 12px;
}
.login-card-footer-text {
  text-align: center;
  font-size: 16px;
  color: #919aa3;
  margin: 10px 0;
}
@media (max-width: 768px) {
  .panoramica {
    width: 500px;
  }

  .card-title {
    font-size: 2.75rem;
  }
  .response {
    font-size: 1.5rem;
  }
  .login-card-footer-text {
    margin: 5px 0;
    font-size: 18px;
  }
}

@media (max-width: 422px) {
  .login-card .card-body {
    padding: 35px 24px;
  }
  .logo {
    position: static;
  }
  .panoramica {
    width: 300px;
  }
  .dehesa {
    font-size: 1.5rem;
  }
  .card-title {
    font-size: 2rem;
  }
  .response {
    font-size: 1.1rem;
  }
  .login-card-footer-text {
    margin: 2px 0;
    font-size: 12px;
  }
}

.login-card-footer-nav a {
  font-size: 14px;
  color: #919aa3;
}
