* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Catamaran, sans-serif;
}

.logo-header {
  padding-left: 10vw;
}

.navbar {
  /* background-color: rgb(44, 43, 43); */
  background-color: rgb(64, 74, 83);
}

.navbar-nav .nav-link {
  color: #f9a519;
}

/* .nav-item {
  margin: auto;
} */
.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.jumbotron {
  background-image: url("../assets/img/jumbo@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.stores {
  background-color:rgba(0, 0, 0, 0.65);
  color: white;
  width: 40vw;
  height: 100%;
  font-size: 45px;
  position: relative;
  right: 20%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.store-message {
  width: 100%;
  padding: 7%;
}

.store-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.store-logos img{
  margin: 10% 20px;
}

.como-funciona, .opiniones-guardianes {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.pasos-titulo, .opiniones-titulo{
  padding: 2%;
  margin: 20px;
  font-size: 35px;

}

.pasos, .opiniones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 35px;
}

.paso, .opinion {
  width: 40%;
  padding: 3%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paso-circulo {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffce32), to (#f9a519));
  background: linear-gradient(180deg, #ffce32 0%, #f9a519 100%);
  border-radius: 50%;
  font-size: 40px;
  color: white;
}

.paso-titulo {
  padding: 20px;
  font-size: 30px;
}

.paso-texto {
  padding: 20px;
}

.contacto {
  margin: 7% auto;
  display: flex;
  width: 80%;

  align-items: center;
  justify-content: space-around;

}

.contacto-foto {
  width: 20%;
  height: auto;
}

.imagen-lateral {
  width: 100%;
  height: auto;
}

/* 
.contacto-formulario {
  width: 40%;
  border: 1px solid lightgray;
  padding: 25px;

  display: flex;
  flex-direction: column;
}

.campo-formulario {
  padding: 10px 0px;
}

.titulo-medio {
  font-size: 20px;
  font-weight: bold;
}

.campo-formulario input, .campo-formulario select {
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  margin: 5px 0;
} */

.form-check {
  display: inline;
}

.politicaPrivacidad {
  margin: 20px 0 10px 0;
}

.politicaPrivacidad a, .sinCuenta a{
  color: #f9a519;
}
/* 
.campo-formulario button {
  font-size: 20px;
  padding: 3px;
  margin: 5px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffce32), to (#f9a519));
  background: linear-gradient(180deg, #ffce32 0%, #f9a519 100%);
  border-radius: 5px;
} */

.btn-acceder-reg {
  margin: 5px 0 10px;
}

.parrafoPolitica {
  text-decoration: underline;
  color: #f9a519;
  cursor: pointer;
  display: inline;
}

/* .opinion-texto {
  padding: 20px;
  border: 1px solid lightgray;
  text-align: left;
}

.opinion-autor {
  padding: 15px;
  text-align: left;
  width: 100%;
}

.opinion-lugar {
  padding: 5px 5px 5px 15px;
  font-size: 20px;
  text-align: left;
  width: 100%;
} */

footer {
  height: auto;
  background-color: rgb(64, 74, 83);
  font-size: 20px;
  color: #fff;
  padding: 20px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.social-icon {
  margin: 20px 10px;
  color: #fff;
}

.social-icon:hover {
  color: #f9a519;
}

.coment-card {
  width: 65%;
  margin: 0 auto;
}

.coment-form {
  max-width: 90% !important;
  line-height: 2 !important;
}

.impersonation-form {
  max-width: 50% !important;
}

.btnBorrar , .btnEdit {
  color:#f9a519; 
  cursor: pointer;
  filter: contrast(10%) sepia(1) hue-rotate(14deg) saturate(3000%)
}


/* .min-vh-100 {
  min-height: 80vh!important;
}

.login-card-reg {
  height: 80vh!important;
}

.body-register {
  height: 90vh!important;
} */

/* .heart {
  color: red !important;
  font-size: 30px;
} */

/* MEDIA QUERIES */

@media (max-width:1400px){
  /* Store */
   .jumbotron {
   background-image: url("../assets/img/jumbo@2x.jpg");
   }
   
   .store-logos {
   flex-direction: row;
   }
   
   .stores {
   font-size:45px;
   width: 60%;
   }
   
   .store-message{
   padding:30px;
   }
 
   /* Como funciona */
   .como-funciona, .opiniones-guardianes {
     width: 85%;
   }
 
   .paso, .opinion {
     width: 80%;
     padding: 1%;
   }
 
   /* Contacto */
   .contacto {
     flex-direction: row;
     width: 80%;
   }
 
   .contacto-foto {
     width: 30%;
   }
 
   .contacto-formulario {
     width: 55%;
   }
   
  }
 
@media (max-width:1024px){
  /* Heading */
  header {
    height: 15vh;
  }

 /* Store */
  .jumbotron {
  background-image: url("../assets/img/jumbo@1x.png");
  }
  
  .store-logos {
  flex-direction: row;
  }
  
  .stores {
  font-size:45px;
  width: 60%;
  }
  
  .store-message{
  padding:30px;
  }

  /* Como funciona */
  .como-funciona, .opiniones-guardianes {
    width: 95%;
  }

  .paso, .opinion {
    width: 80%;
    padding: 1%;
  }

  /* Contacto */
  .contacto {
    flex-direction: row;
    width: 90%;
  }

  .contacto-foto {
    width: 35%;
  }

  .contacto-formulario {
    width: 55%;
  }

  footer {
    height: 12vh;
    font-size: 15px;
  }

  .heart {
    font-size: 25px;
  }
  
 }

 @media (max-width:890px){

  .coment-card {
    width: 85%;
  }

 /* Store */
  .jumbotron {
  background-image: url("../assets/img/jumbo@1x.png");
  height: 60vh;
  }
  
  .store-logos {
  flex-direction: row;
  }
  
  .stores {
  font-size:45px;
  width: 100%;
  position: static;
  }
  
  .store-message{
    width: 80%;
    padding:30px;
  }
  
  /* Como funciona */
  .pasos, .opiniones {
    flex-direction: column;
  }

  .paso, .opinion {
    width: 80%;
  }

  .paso-texto {
    font-size: 18px;
  }

  .opinion-texto {
    font-size: 18px;
  }

  /* Contacto */
  .contacto {
    flex-direction: column;
  }

  .contacto-foto {
    width: 50%;
    margin-bottom: 30px;
  }

  .contacto-formulario {
    width: 75%;
  }

  footer {
    height: 18vh;
    font-size: 20px;
  }

  .heart {
    font-size: 30px;
  }
 }

 @media (max-width:475px){
  /* Heading */
  header {
    justify-content: center;
  }

  .logo-header {
    padding: 0;
  }
 /* Store */
  .jumbotron {
  background-image: url("../assets/img/jumbo@1x.png");
  height: 60vh;
  }

  .store-logos {
  flex-direction: column;
  }

  .store-logos img{
    margin: 1% 20px;
  }
  
  .stores {
  font-size:45px;
  width: 100%;
  position: static;
  }
  
  .store-message{
    width: 100%;
    padding:30px;
    font-size: 35px;
  }
  
  /* Como funciona */
  .pasos-titulo, .opiniones-titulo{
    font-size: 25px;
  }

  .pasos, .opiniones {
    flex-direction: column;
  }

  .paso, .opinion {
    width: 95%;
  }

  .paso-titulo {
    font-size: 20px;
  }

  .paso-texto {
    font-size: 15px;
  }

  .opinion-texto {
    font-size: 15px;
  }

  /* Contacto */
  .contacto {
    flex-direction: column;
  }

  .contacto-foto {
    width: 70%;
  }

  .contacto-formulario {
    width: 95%;
  }

  .campo-formulario input, .campo-formulario select {
    font-size: 15px;
  }

  footer {
    height: 15vh;
    font-size: 15px;
  }

  .heart {
    font-size: 30px;
  }

 }