<h1>Voy a crear una serie</h1>
{% if title %}
    <p>Titulo: {{ title }}</p>
{% endif %}
{% if category %}
    <p>Categoria: {{ category }}</p>
{% endif %}

<p>Descripcion: {{ description }}</p>

<form method="post" action="{{ path('createSerie') }}">
    <input name="titulo" type="text">
    <input name="descripcion" type="textarea">
    <select name="categoria">
        <option name="terror">Terror</option>
        <option name="comedia">Comedia</option>
        <option name="fantasia">Fantasía</option>
    </select>
    <input type="submit">
</form>